.popupContainer.movie
  .pic
    = image_tag @movie.poster_profile, :alt => @movie.title
  .text
    %h2= @movie.title
    .year= "(#{@movie.year})"
    .director
      by
      = @movie.directors
    .runtime
      - minutes = @movie.runtime.to_i
      = [minutes / 60, minutes % 60, (minutes * 60) % 60].map{|t| t.to_s.rjust(2, '0')}.join(':')
    .genres
      = @movie.genres
    .cast
      Cast
      %p= @movie.cast
    %p= @movie.plot
  #recommendation_link
  .actions
    = form_tag recommend_movie_path(@movie), :remote => true do
      = submit_tag t('.recommend_this')

:javascript
  $("input, textarea, select, button").uniform();

