.movieContainer
  .pic
    = image_tag @movie.poster_profile, :alt => @movie.title
  .text
    %h2= @movie.title
    .year= "(#{@movie.year})"
    .director
      by
      = @movie.directors
    .runtime
      - minutes = @movie.runtime.to_i
      = [minutes / 60, minutes % 60, (minutes * 60) % 60].map{|t| t.to_s.rjust(2, '0')}.join(':')
    .genres
      = @movie.genres
    .cast
      Cast
      %p= @movie.cast
    %p= @movie.plot

  .actions
    = link_to "remove", @movie, :confirm => 'Are you sure you want to remove this movie?', :method => :delete

