%script#autocomplete_template{:type => 'text/x-jquery-tmpl' }
  %a
    %img{:src =>"${image}"}
    .suggestionLabel
      %span.title= "${title}"
      %span.extra= "${year}"
      %div.detail= "${detail}"
#search_box.formContainer
  = form_for Recommendation.new do
    - if @profile_user
      = hidden_field_tag :profile_user, @profile_user.id
    = text_field_tag :query, nil, :id => 'search_field'
    = hidden_field_tag :rt_id, nil
  #search_results
#search_handle.handler Search for Movies
:javascript
  MovieSearch.initialize();

