.pageContent
  .lists
    - if @profile_user == current_user
      = render 'my_profile'

    .section.wantToWatch
      #wantToWatchSection.anchor
      %h2
        = @profile_user.name
        = t('.wants_to_watch')
        /%span.warning{:style => display_if(show_warning?)}= '*'
      = render 'want_to_watch_list'
    .section.recommended
      #recommendedSection.anchor
      %h2= t('.his_friends_recommend')
      %ul{:id => 'recommended-lists'}
        - if @recommended_to_me.blank?
          %li= t('.no_recommendations_yet')
        = render :partial => '/movies/recommended_to_me', :collection => @recommended_to_me, :as => :movie

