:javascript
  function popupClose() {}
.first_visit
  %h1= t('.popup_title')
  %p= t('.welcome_guest_description')

  %ul
    %li= t('.keep_track')
    %li= t('.recommend')
    %li= t('.ask_your_friends')

  %a.button= t('.start_now')
  .footer
    = t('.i_have_account')
    %a.button= t(:sign_in)

