:javascript
  function popupClose() {}
.popupContainer.first_visit.about
  %h1= t('.popup_title')
  %h4= t('.welcome_guest_description')

  %ul.features
    %li= t('.keep_track')
    %li= t('.recommend')
    %li= t('.ask_your_friends')
  - unless params[:s]
    .start
      = link_to_function t('.start_now'), "$.fn.colorbox.close()"
    .foot
      = t('.i_have_account')
      = link_to t(:sign_in), '/auth/twitter'

