.header
  .inner
    .shouldWatch
      %h1 Should Watch
    .logIn
      %p
        - if current_user.guest?
          = link_to t('.sign_in_with_twitter'), '/auth/twitter'
        - else
          = link_to t('.sign_out'), signout_path
    %ul.menu
      %li.selected
        = link_to_function t('.i_want_to_watch'), "$.scrollTo( '#wantToWatchSection', 800, {duration:3000} );"
      %li
        = link_to_function t('.i_recommend'), "$.scrollTo( '#recommendSection', 800, {duration:3000} );"
      %li
        = link_to_function t('.recommended_to_me'), "$.scrollTo( '#recommendedSection', 800, {duration:3000} );"
    .userPanel
      .user
        %span.pic= image_tag current_user.avatar
        %span.name= current_user.name
        = image_tag('baseImages/clip.png', :class => 'clip')
      .stats
        .watched
          %span.amount= @want_to_watch.size
          %span.when
            = t('.want_to_watch')
        .recommended_by_me
          %span.amount= @i_recommend.size
          %span.when
            = t('.i_recommend')
        .recommended_to_me
          %span.amount= @recommended_to_me.size
          %span.when
            = t('recommended_to_me')
    .search
      = render '/home/search'
.pageContent
  .lists
    .section.wantToWatch
      #wantToWatchSection.anchor
      %h2= t('.i_want_to_watch')
      = render '/home/want_to_watch_list'
    .section.recommend
      #recommendSection.anchor
      %h2= t('.i_recommend')
      %ul
        - if @i_recommend.blank?
          %li= t('.empty_list')
        = render :partial => '/movies/i_recommend', :collection => @i_recommend, :as => :movie
    .section.recommended
      #recommendedSection.anchor
      %h2= t('.my_friends_recommends')
      %ul
        - if @recommended_to_me.blank?
          %li= t('.empty_list')
        = render :partial => '/movies/recommended_to_me', :collection => @recommended_to_me, :as => :movie

:javascript
  $(function() {
    $("#movies_i_want_to_watch").sortable({
      cursor: "move",
      update: function() { 
        var movies_order = $(this).sortable('toArray').toString();
        $.post('/movies/order', {movies_order: movies_order});
      }
    });
  })

- if @popup_template
  #popup{:style => 'display:none;' }
    = render :template => @popup_template

