.pageContent
  .lists
    .section.wantToWatch
      #wantToWatchSection.anchor
      %h2
        = t('.i_want_to_watch')
        /%span.warning{:style => display_if(show_warning?)}= '*'
      = render '/home/want_to_watch_list'
    .section.recommended
      #recommendedSection.anchor
      %h2= t('.my_friends_recommends')
      %ul#recommended_to_me
        - if @recommended_to_me.blank?
          %li= t('.empty_list')
        = render :partial => '/movies/recommended_to_me', :collection => @recommended_to_me, :as => :movie
      .addMore
        - if current_user.guest?
          = link_to_function "Ask for recommendations", "alert('You need to sign in first')"
        - else
          = link_to "Ask for recommendations", "/#{current_user.name}"
    .section.recommend
      #recommendSection.anchor
      %h2= t('.i_recommend')
      %ul
        - if @i_recommend.blank?
          %p.empty
            Start making recommendations. Click on any movie and use the recommendation tool to tell your friends what movies they should watch.
        = render :partial => '/movies/i_recommend', :collection => @i_recommend, :as => :movie

- if @popup_template
  #popup{:style => 'display:none;' }
    = render :template => @popup_template

- if params[:watched]
  %a{:href => "/movies/#{params[:watched]}?just_watched=true", :class => "colorbox-link", :id => "movie_trigger"}
  :javascript
    $(function(){
      $("#movie_trigger").trigger('click');
    });

