.header
  .inner
    .shouldWatch
      %h1 Should Watch
    .logIn
      %p
        - if current_user.guest?
          = link_to t('.sign_in_with_twitter'), '/auth/twitter'
        - else
          = link_to t('.sign_out'), signout_path
    %ul.menu
      %li.selected
        = link_to_function t('.i_want_to_watch'), "$.scrollTo( '#wantToWatchSection', 800, {duration:3000} );"
      %li
        = link_to_function t('.i_recommend'), "$.scrollTo( '#recommendSection', 800, {duration:3000} );"
      %li
        = link_to_function t('.recommended_to_me'), "$.scrollTo( '#recommendedSection', 800, {duration:3000} );"
    .userPanel
      .user
        %span.pic= image_tag current_user.avatar
        %span.name= current_user.name
        = image_tag('baseImages/clip.png', :class => 'clip')
      .stats
        .watched
          %span.amount 37
          %span.when
            = t('.want_to_watch')
        .recommended_by_me
          %span.amount 10
          %span.when
            = t('.i_recommend')
        .recommended_to_me
          %span.amount 15
          %span.when
            = t('recommended_to_me')
    .search
      = render '/home/search'
.pageContent
  .lists
    .section.wantToWatch
      #wantToWatchSection.anchor
      %h2= t('.i_want_to_watch')
      %ul
        - if @want_to_watch.blank?
          %li= t('.empty_list')
        = render @want_to_watch
      .addMore
        %a{:href => "#"} Add more
    .section.recomended
      #recommendSection.anchor
      %h2= t('.i_recommend')
      %ul
        - if @i_recommend.blank?
          %li= t('.empty_list')
        = render @i_recommend
    .section.recomend
      #recommendedSection.anchor
      %h2= t('.my_friends_recommends')
      %ul
        - if @recommended_to_me.blank?
          %li= t('.empty_list')
        = render @recommended_to_me

<<<<<<< HEAD
- if current_user.hits <= 1
  .first_visit_popup

=======

- if @popup_template
  #popup
    = render :template => @popup_template
  
>>>>>>> Recommendation Popup
